<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
    </head>
    <body>
        <div class="container">
            <h1>Lista de Technician</h1>
            <a class="btn btn-primary mt-4 mb-4" href="/technician/new">Nuevo Technician</a>

            <form method="post" action="/technician/search">
                <div class="row">
                    <div class="mb-3 col-sm-3">
                        <label class="form-label">Buscar:</label>
                        <input type="search" class="form-control" name="s" id="s" th:value="${s}"  />
                    </div>
                    <div class="mb-3 col-sm-3 mt-4">
                        <button type="submit" class="btn btn-success">Consultar</button>
                    </div>
                </div>
            </form>

            <div class="alert alert-info" role="alert" th:if="${msg != null}" th:text="${msg}">
                A simple
            </div>

            <table class="table"> 
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dni</th>
                        <th>Telefono</th>
                        <th>Age</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="technician, info : ${listaTechnician}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${technician.firstname}"></td>
                        <td th:text="${technician.lastname}"></td>
                        <td th:text="${technician.dni"></td>
                        <td th:text="${technician.phone"></td>
                        <td th:text="${technician.age"></td>

                        <td><a class="btn btn-primary" th:href="@{'/technician/edit' + '?id=' + ${technician.technicianid}}">Editar</a></td>
                        <td><a class="btn btn-danger" th:href="@{'/technician/delete' + '?id=' + ${technician.technicianid}}">Borrar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>